.calendar-container {
	border: 2px solid skyblue;
}

.calendar {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

.calendar-header {
	border-bottom: 1px dashed skyblue;
	font-size: 1.6em;
}

.calendar-data-rows {
	/* height: 200px; */
	top: 0;
	align-items: start;
}

.day,
.empty-slot,
.week-day {
	text-align: center;
	height: 45px;
}

.week-day {
	font-size: 0.8em;
}

.day {
	font-size: 0.8em;
}

.day {
	font-size: 0.5em;
	cursor: pointer;
	width: 50px;
	height: 50px;
	align-content: start;
	line-height: 110px;
}

.current-day {
	background-color: #4285f4;
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 2%;
	color: white;
}
.selected-day {
	background-color: yellow;
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 2%;
	color: black;
}

.month-popup {
	position: inherit;
	padding: 5px;
	background: white;
	border: 2px solid skyblue;
}

.month-popup div {
	padding: 0.3em;
}

.nav-month {
	position: inherit;
	top: 0.6em;
	font-size: 0.6em;
	right: 3px;
}

.prev {
}

.next {
}

.editor-year {
	max-width: 3.6em;
}

.label-month,
.label-year {
	font-size: 0.6em;
}

.label-month {
	cursor: pointer;
}
